@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&family=Roboto:ital,wght@0,100;0,300;1,400&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-image: url("./anonovo.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100hv;
    font-family: "Poppins","Roboto";
    margin: 0;
}
h1{
    font-weight: normal;
    font-size: 5rem;
    margin-top: -25rem;
}

.countdown-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 1rem 2rem;

}

.big-text{
    font-weight: bold;
    font-size: 5rem;
    line-height: 1;
    margin: 0 2rem;
}

.countdown-el{
    text-align: center;
}

.countdown-el span{
    font-size: 1,3rem;
}